<div class="row">
    <div class="col-1-of-3" *ngFor="let obj of theSea">

        <div class="card">
            <div class="card__side card__side--front">
                <div class="card__picture" [className]="obj.cardHeaderImg">
                    &nbsp;
                </div>
                <h4 class="card__heading">
                    <span class="card__heading-span card__heading-span--1">{{obj.cardHeading}}</span>
                </h4>
                <div class="card__details">
                    <ul>
                        <li *ngFor="let data of obj.data">{{data}}</li>
                    </ul>
                </div>
            </div>
            <div [className]="obj.cardBackgroundClass">
                <div class="card__cta">
                    <div class="card__price-box">
                        <p class="card__price-only">Only</p>
                        <p class="card__price-value">{{obj.price}}</p>
                    </div>
                    <a href="#popup" class="btn btn--white">Book now!</a>
                </div>
            </div>
        </div>
    </div>
</div>